@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	font-family: 'Montserrat', sans-serif;
	background-image: url(background.jpg);
}
a{
    color: black;
}
a:active{
	color: white;
}

/*==========Header==========*/

header {
	background-color: lightgrey;
	overflow: hidden;
	padding: 0 75px;
	box-shadow: 0 10px 10px darkgrey;
	display: block;
}

header img {
	width: 300px;
	float: left;
	position: relative;
}

header nav {
	float: right;
	padding: 10px;
}

header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

header nav ul li .dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*fix the colors*/

header nav ul li a:hover,
header nav ul li .dropdown:hover .dropbtn {
	background-color: lightblue;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.active{
	color: white;
}

/*==========Main Content==========*/

.main-container {
	margin: 20px 100px;
    padding: 5px;
}
.main-container section{
	text-align: center;
	margin: 5px 10%;
}
#go-to-top{
    float: right;
    position: fixed;
    bottom: 10%;
    right: 5%;
}
.main-containe>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main-container>ul>li{
	display: block;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
}
/*==========Footer==========*/

footer {
	clear: both;
	text-align: center;
	background-color: lightgrey;
	overflow: hidden;
	padding: 0 75px;
	box-shadow: 0 -10px 10px darkgrey;
    padding-top: 5px;
    margin-top: 15px;
}
footer a:visited{
	color: black;
}