
head img{
	width: 1px;
}

ul {
	list-style-type: none;
	background-color: #141414;
	padding-left: 350px;
}

li {
	display: inline-block;
	padding: 12px;
}

li a{
	text-decoration: none;
	color: white;
}

body{
	background-color: #FFDEAD;
	margin: 0;
}

body div{
	width: 50%;
	margin: auto auto;
}

section img{
	width: 275px;
	height: 183px;
	padding: 3px;
}

h1{
	color: #505050;
}

footer {   
    clear: both;
    text-align: center;
    background-color: lightgrey;
    overflow: hidden;
    padding: 0 75px;
    box-shadow: 0 -10px 10px darkgrey;
    display: block;
    object-position: bottom;
}